.container {
  height: 100%;
  position: relative;
  width: 100%;
}

.buttons {
  bottom: var(--ams-space-inside-lg, 24px);
  position: absolute;
  right: var(--ams-space-inside-lg, 24px);
  /* TODO Temporary fix, need to hook into control layer */
  z-index: 999;
}
